@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html,
body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.burger {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 40px;
  width: 40px;
  text-align: center;
  background-color: black;
  cursor: pointer;
  border-radius: 5px 5px;
  transition: left 0.4s ease;
}
.burger span {
  color: white;
  font-size: 28px;
  line-height: 40px;
}
.burger.click {
  left: 205px;
  top: 10px;
}
.burger.click span::before {
  content: '\f00d';
}

nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  background-color: black;
  color: white;
  transform: translateX(-250px);
  top: 0;
  width: 200px;
}

nav.show {
  transform: translateX(0);
}
.todo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-top: 50px;
}
header {
  color: white;
}

button,
input[type='submit'],
i {
  cursor: pointer;
}

.project-form {
  display: flex;
}

.project-card {
  display: flex;
  align-items: center;
  gap: 10px;
}
.project-card > p:hover {
  border-radius: 5px 5px;
  color: black;
  background-color: white;
  cursor: pointer;
}

.fa-minus-circle:hover {
  color: red;
}

.todo-container > * {
  margin-bottom: 10px;
}

.todo-item {
  position: relative;
  border: 2px solid black;
  width: 100vw;
}
.todo-item i {
  position: absolute;
  right: 0;
  top: 0;
}
