@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html,
body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Nav */
.burger {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 40px;
  width: 40px;
  text-align: center;
  background-color: black;
  cursor: pointer;
  border-radius: 5px 5px;
  transition: left 0.4s ease;
  z-index: 1;
}

.burger span {
  color: white;
  font-size: 28px;
  line-height: 40px;
}

.burger.click {
  left: 255px;
  top: 10px;
}

.burger.click span::before {
  content: '\f00d';
}

nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  background-color: black;
  color: white;
  transform: translateX(-250px);
  top: 0;
  width: 250px;
  z-index: 1;
}

nav.show {
  transform: translateX(0);
}

header {
  text-align: center;
  color: white;
}
/* Nav End */

/* Projects */
.project-form {
  display: flex;
  justify-content: center;
}

label {
  text-align: center;
  margin: 20px;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.project-card > p:hover {
  border-radius: 5px 5px;
  color: black;
  background-color: white;
  cursor: pointer;
}
/* Projects End */

/* Todo */
.todo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-top: 50px;
}

.todo-container h3:first-child {
  text-align: center;
}

.todo-container > * {
  margin-bottom: 10px;
}

.todo-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  border: 2px solid black;
  width: 100vw;
}
.todo-item i {
  position: absolute;
  right: 0;
  top: 0;
}
.finish {
  background-color: rgba(128, 128, 128, 0.301);
  text-decoration: line-through;
}

.switch {
  display: inline-block;
  width: 40px;
  height: 24px;
  top: -18px;
  right: 10px;
  position: absolute;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Todo End */

/* Global */
button,
input[type='submit'],
i {
  cursor: pointer;
}

.fa-trash-alt {
  font-size: 25px;
}
.fa-trash-alt:hover {
  color: #c41e3a;
}
/* Global End */

@media only screen and (min-width: 768px) {
  /* .burger {
    display: none;
  } */
}
