@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html,
body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

header {
  color: blue;
}

button,
input[type='submit'],
i {
  cursor: pointer;
}

.project-form {
  display: flex;
}

.project-card {
  display: flex;
  align-items: center;
  gap: 10px;
}
.project-card > p:hover {
  background-color: burlywood;
  cursor: pointer;
}
.fas {
  color: brown;
}
.fas:hover {
  color: red;
}

.todo-container > * {
  margin-bottom: 10px;
}
