html,body{
    height:100%;
    padding:0;
    margin:0;
    overflow: hidden;
    font-family: Poppins;
  } 
*::after, *::before{
    box-sizing :border-box;
}
.main-container{
    width: 100%;
    margin: 0 auto;
}
.left-nav{
    width: 30%;
    display: flex;
    flex-direction: column;
    float: left;
    align-items: center;
    justify-content: center;
}
.project-ul li{
    list-style-type: none;
}
.project-ul li:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.content{
    width: 70%;
    display: flex;
    flex-direction: column;
    float:right;
    align-items: center;
    justify-content: center;
}

